<mat-toolbar>
  <mat-toolbar-row>
    <!-- <img src="../../../assets/logo-VNPTIT.png" alt="" width="180px" style="border-right: 1px solid #ffffff; padding: 10px;"> -->
    <button mat-icon-button class="example-icon" (click)="opened=!opened">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon"
    aria-label="Example icon-button with share icon"
    routerLink="logout"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="opened">
    <app-menu></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

