<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="opened=!opened" class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>VNPT - ITKV5</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon"
    aria-label="Example icon-button with share icon"
    routerLink="logout"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
