.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: #4008DE;
  color: #ffffff;
}

mat-sidenav-container {
  height: calc(100vh - 4rem);
}

mat-sidenav {
 background-color: #4008DE;
  border: 1px solid #ffffff;
  box-shadow: -5px 15px 5px 10px rgba(60, 60, 60, 0.2), -5px 0 5px -5px rgba(60, 60, 60, 0.3), -5px 0 5px -5px rgba(139, 139, 139, 0.4) !important;
}
