ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

mat-card {
  background-color: #4008DE;
  border: 1px solid #ccc;
  height: 70px;
  padding: 5px 0;
}

mat-card-header {
  padding: 0;
}

mat-card-title {
  color: #ffffff;
  font-size: 20px;
  padding-left: 40px;
}

.mat-list {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.mat-item {
  font-size: 13px;
  font-weight: 700px;
  align-items: center;
  text-align: center;
  margin-right: 20px;
}

mat-icon {
  font-size: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}
