.container {
  margin: 50px;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 40%;
}

.th-center{
  text-align: center;
}
.th-left{
  text-align: left;
}
.th-right{
  text-align: right;
}
.table-none{
  display: none;
}
.bold-header {
  font-weight: bold;
}

