<div class="container">
  <div>
    <form>
      <mat-form-field>
        <mat-label>Chọn năm</mat-label>
        <mat-select [value]="selectedYear" (selectionChange)="filterByYear($event.value)">
          <mat-option [value]="'của tất cả năm'">Tất cả</mat-option>
          <mat-option *ngFor="let year of namOptions" [value]="year" >
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <table id="season-tble" class="table-none">
      <tr></tr>
      <tr>
        <th>STT</th>
        <th>Gói nâng cấp</th>
        <th>Người nâng cấp</th>
        <th>Thời điểm nâng cấp</th>
        <th>Thời điểm nhận lệnh</th>
        <th>Trạng thái</th>
        <th>Thời điểm TC/TB</th>
        <th>Lý do</th>
      </tr>
      <tr *ngFor="let data of dataExel; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ data.goiNangCap.tenGoi }}</td>
        <td>{{ data.nguoiNangCap }}</td>
        <td>{{ data.thoiDiemNangCap }}</td>
        <td>{{ data.thoiDiemNhanLenh }}</td>
        <td>{{ data.trangThai }}</td>
        <td>{{ data.thoiDiemTcTb }}</td>
        <td>{{ data.lyDo }}</td>
      </tr>
    </table>
  </div>
  <div class="mat-elevation-z8">
    <button (click)="exportToExcel()" mat-raised-button color="accent">Export</button>
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef> STT </th>
        <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
      </ng-container>

      <!-- ThoiDiemNangCap Column -->
      <ng-container matColumnDef="thoiDiemNangCap">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Thời điểm nâng cấp </th>
        <td mat-cell *matCellDef="let row"> {{row.thoiDiemNangCap}} </td>
      </ng-container>

      <!-- GoiNangCap Column -->
      <ng-container matColumnDef="goiNangCap">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Gói nâng cấp </th>
        <td mat-cell *matCellDef="let row"> {{row.goiNangCap.tenGoi}} </td>
      </ng-container>

      <!-- NguoiNangCap Column -->
      <ng-container matColumnDef="nguoiNangCap">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Người nâng cấp </th>
        <td mat-cell *matCellDef="let row"> {{row.nguoiNangCap}} </td>
      </ng-container>

      <!-- TrangThai Column -->
      <ng-container matColumnDef="trangThai">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng thái </th>
        <td mat-cell *matCellDef="let row"> {{row.trangThai}} </td>
      </ng-container>

      <!-- ThoiDiemNhanLenh Column -->
      <ng-container matColumnDef="thoiDiemNhanLenh">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Thời điểm nhận lệnh </th>
        <td mat-cell *matCellDef="let row"> {{row.thoiDiemNhanLenh}} </td>
      </ng-container>

      <!-- ThoiDiemTcTb Column -->
      <ng-container matColumnDef="thoiDiemTcTb">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Thời điểm TC/TB </th>
        <td mat-cell *matCellDef="let row"> {{row.thoiDiemTcTb}} </td>
      </ng-container>

      <!-- LyDo Column -->
      <ng-container matColumnDef="lyDo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Lý do </th>
        <td mat-cell *matCellDef="let row"> {{row.lyDo}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
