// khanh29
.container {
  margin: 50px;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 40%;
}



.th-center{
  text-align: center;
}
.th-left{
  text-align: left;
}
.th-right{
  text-align: right;
}
//hung
.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all .2s ease-in-out;
 }
 .show-scrollTop {
  opacity: 1;
  transition: all .2s ease-in-out;
 }

