<div class="container">
  <div class="card-width">
    <mat-card class="card-layout">
      <div class="card-top">
        <form [formGroup]="myForm">
          <mat-form-field class="form-field">
            <mat-label>Chọn thiết bị</mat-label>
            <mat-select formControlName="selectedDevice" required>
              <mat-option *ngFor="let device of deviceList" [value]="device.id">{{ device.ten }}</mat-option>
            </mat-select>
            <mat-error
              *ngIf="myForm.get('selectedDevice')?.errors?.['required'] && myForm.get('selectedDevice')?.touched">
              Vui lòng chọn thiết bị
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-label>Chọn gói nâng cấp</mat-label>
            <mat-select formControlName="selectedGoi" required>
              <mat-option *ngFor="let goi of goiList" [value]="goi.id">{{ goi.tenGoi }}</mat-option>
            </mat-select>
            <mat-error *ngIf="myForm.get('selectedGoi')?.errors?.['required'] && myForm.get('selectedGoi')?.touched">
              Vui lòng chọn gói nâng cấp
            </mat-error>
          </mat-form-field>

          <button mat-raised-button type="submit" color="primary">Nâng cấp</button>
        </form>
      </div>

      <div class="card-content">
        <!-- Hiển thị chi tiết thiết bị và gói nâng cấp đã chọn -->
        <div class="card">
          <span class="title">Thông tin thiết bị</span>
          <div class="content">
            <p>Tên: {{ device?.ten }}</p>
            <p>Địa chỉ: {{ device?.diaChi }}</p>
            <p>Số điện thoại: {{ device?.soDienThoai }}</p>
          </div>
        </div>
        <div class="card">
          <span class="title">Thông tin gói nâng cấp</span>
          <div class="content">
            <p>Tên gói: {{ goi?.tenGoi }}</p>
            <p>Nơi lưu: {{ goi?.noiLuu }}</p>
            <p>Mô tả: {{ goi?.moTa }}</p>
            <p>Phiên bản: {{ goi?.phienBan }}</p>
            <p>Nền tảng: {{ goi?.nenTang.tenNenTang }}</p>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
