.container {
  margin: 50px;
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: center;
}

mat-card {
  width: 40%;
  margin: 0 16px;

}

.form-container {
  padding: 16px;
  background-color: #ffffff;

}

.form-field {
  display: flex;
  margin-bottom: 16px;
}

.detail-container {
  padding: 16px;
  background-color: #ffffff;
}
.mat-mdc-table .mdc-data-table__header-row {
  background-color: #6c6b68;
}
